# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out

# Visual Studio Files
.vs/
Server/.vs/
.vscode/
*.user
*.aps
*.vcxproj
*.vcxproj.filters
*.sln
obj/

# Misc.
.idea/
**/cmake-build-debug/
**/cmake-build-debug-msvc/
**/cmake-build-release-msvc/
**/cmake-build-release/
**/build/
**/.cache/
**/CMake/
**/bin/
.cache/
__cmake_systeminformation/
